[Desktop Entry]
Name=Gfontview
Comment=Font Viewer
Comment[pl]=Przeglądarka fontów
Exec=gfontview
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Utility;
# vi: encoding=utf-8
